container {
    font-size: 14pt;
    background-color: #000000;
}
h1 {
    margin-bottom: 21px;
}
h3 {
    font-size: 16pt;
    margin-bottom: 15px;
}

.breadcrumb {
    margin-top: 21px;
}

.category-header {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* The icon list in the about page */
.social {
    list-style-type: none;
    margin-top: 10.5px;
    padding: 0px;
}

.social > li {
    display: inline;
    margin-right: 3px;
}

.social > li > a{
    color: #333;
}

.menu {
    border: none;
    margin-bottom: 0px;
    background-color: #000000;
    color: #587997 ;
    position: relative;
    min-height: 70px;
    display: block;
    font-size: 14pt;
    line-height:50px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.menu a {
    color: #587997 ;
}
.menu-brand {
    font-size: 19px;
}
.menu-brand > a:hover {
    text-decoration: none;
}
.menu-list {
    padding-top: 0px;
}
.menu-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list > ul > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}

.fa-ul {
    margin-top: 10px;
    background-color: #000000;
}

.fa-ul li {
    margin-bottom: 5px;
    background-color: #000000;
}

footer {
    width: 100%;
    margin-top: 100px;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}

footer a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
footer a:hover {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.list-group-item {
    border: none;
}

.list-group-item > i {
    margin-right: 5px;
}

img.pub-thumbnail {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

p.pub-date-author {
    margin-bottom: 20px;
    font-size: 14pt;
    font-style: italic;
}

.card {
    border: none;
    padding: 20px 0px;
}

.card-caption {
    padding: 9px 0px;
    color: #333333;
}

.card-title {
    color: #000000;
}

img {
    width: 130%;
}

figure {
   background-color: #000;
   padding: 10px;
   font-size: .875em;
   display: table;
   float: left;
}

figure img {
    display: block;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    background: #000;
    padding: 0 20px 2px;
}​

.container-fluid {
    padding: 0;
    background-color: #000000;
}

.altmetric-embed img {
    width: auto; /* Prevent img width=100% in Chrome (makes it stretched) */
}

.site-description {
    margin: 0px;
    padding: 50px 0px;
    line-height: 60px;
    font-size: 34px;
    font-weight: 300;
    background-color: #000000;
}

.content {
    height: 12em;
    padding: 4px; /* adjust to taste */
    overflow: hidden;    
    background-color: #000000;
}

.banner {
    background-size: cover;
    background-color: #000000;
    width: 100%;
    height: 100%;
    min-height: 180px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) inset;
    margin: 0px;
}

.summary-box {
    padding-left: 45px;
    padding-right: 45px;
}

.alert-blue {
    background-color: #000000;
}

.body{
    background-color: #000000;
}

.main{
    background-color: #000000;
}
